[submodule "src_Firmware/MotorControllerFirmware"]
	path = src_Firmware/MotorControllerFirmware
	url = https://github.com/eSqadron/NRF52840-Brushed-Motor-Controller-Firmware.git
[submodule "MatlabAPI"]
	path = MatlabAPI
	url = https://github.com/eSqadron/Vibrometer-Table-MatlabAPI.git
