# SPDX-License-Identifier: Apache-2.0
#
# Copyright (c) 2024 Jakub Mazur
#
menu "Wedka configurtion"
rsource "./MotorControllerFirmware/BrushedMotorControllerFirmware/Kconfig"

config MANUAL_MEASUREMENTS
	bool "Perform manual measurements at each point in matrix"
	default y

config AUTO_MEASUREMENTS
	bool "Perform automatic measurements and calulations in each point in matrix"
	default n

config MEASUREMENT_LENGTH
        int "number of points taken at each point in matrix"
        default 1
        depends on AUTO_MEASUREMENTS

endmenu